@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The Collectable Card Catalog System. This website is designed to make the cataloging 
        of your cards faster and easier to manage. You can scan, download pics and comment 
        on your cards and others. Please create an account when you are ready to check it out. </p>
</div>
